<h1>Blog Page</h1>

<br>

<h2><%= @post.title %></h2>

<header class = "header" style = "text-align: right;">Posted by: <%= @post.author %></header>


<img src= <%= @post.link %> alt="PostImage">

<p><%= @post.text %></p>
  

  


<p><%= link "Edit", to: post_path(@conn, :edit, @post) %>

<%= link "Back", to: post_path(@conn, :index) %></p>
