/* This file is for your main application css. */
h1, h2{
    text-align: center;
}

img{
    max-height: 500px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h5{
   text-align: right; 
}



