/* This file is for your main application css. */
/** {border-style: solid;}*/

h1, h2{
    text-align: center;
}

img{
    max-height: 500px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h5{
   text-align: right; 
}

p{
    text-align: center;
}

.centerdiv{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.preview{
    max-width: 80px;
    max-height: 80px;
}

.buttonsize{
    min-width: 50px;
    min-height: 20px;

}



